@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap");

body {
    background: none !important;
}

#police-cap {
    width: 20vw;
    position: absolute;
    top: 8%;
    left: 55%;
    /* transform: translateX(-50%); */
    z-index: 10;
    /* transform: translateX(50%, -50%); */
}

:root {
    --background-color: rgb(26, 26, 160);
}
#container {
    -webkit-box-shadow: -1px 1px 5px 15px rgb(111, 199, 228);
    -moz-box-shadow: -1px 1px 5px 15px rgb(111, 199, 228);
    box-shadow: -1px 1px 5px 15px rgb(111, 199, 228);
    position: fixed;
    left: 50%;
    display: flex;
    top: 50%;
    width: 1000px;
    height: 500px;
    /* border-radius: 50%;; */
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 5px solid blue;
    background: var(--background-color);
}

#left-container {
    width: 60%;
    height: 100%;
    background: var(--background-color);
    border-right: 5px solid #1bfaad;
}
* {
    font-family: "Roboto Mono", monospace;
}

#top-container {
    width: 100%;
    height: 50%;
    /* background: */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#avatar-container {
    width: 200px;
    height: 200px;
    padding: 0 50px;
}

#avatar {
    border: 4px solid #1bfaad;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    color: white;
}

#person-data {
    width: 400px;
    height: 100%;
    /* background: white; */
    /* display: flex; */
    padding-top: 50px;
    color: #1bfaad;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#right-container {
    width: 40%;
    height: 100%;
    /* background: yellow; */
}

#track-button {
    opacity: 0.2;
}

#right-container input {
    width: 50%;
    border: 4px solid #1bfaad;
    background: rgb(32, 32, 148);
    color: #1bfaad;
}
#user-inputs {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #1bfaad;
    color: #1bfaad;
}

#user-input {
    padding: 10px;
}

input {
    outline: none;
    border: none;
    transition: all 0.5s ease-in-out;
}

#label-info {
    padding: 10px 0;
}

#hidden {
    visibility: hidden;
    opacity: 0;
}

label {
    padding: 15px 0;
}
input {
    padding: 15px;
}

.exit-container {
    position: fixed;
    margin: 20px;
    padding: 5px;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg:hover,
.exit-container:hover {
    cursor: pointer;
}

#info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

#info-container button {
    width: 70%;
    height: 40%;
    /* background:rgba(6, 6, 79, 0.288); */
    background: rgba(104, 196, 226, 0.658);
    border: 4px solid #1bfaad;
    transition: all 0.5s ease-in-out;
}

button:hover {
    cursor: pointer;
    border-radius: 8px;
}

#user-inputs input:focus {
    border-radius: 8px;
}

#track-container {
    width: 90%;
    height: 50%;
    /* background: white; */
    display: flex;
    justify-content: center;
    align-items: end;
    /* padding: 20px 0; */
}

#bottom-container button {
    width: 90%;
    background: inherit;
    height: 20%;
    outline: none;
    transition: all 0.5s ease-in-out;
    border: none;
    border: 4px solid #1bfaad;
    color: #1bfaad;
}

#bottom-container {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
